{% extends 'partials/base.html' %}

{% load static %}

{% block title %}Feedback{% endblock %}

{% block content %}
  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4 style="color: #6879BB;">Feedback</h4>
            <img src="{% static 'landing_page/assets/images/heading-line-dec.png' %}" alt="">
            <p>We value your feedback and are committed to continuously improving our services to better meet your needs. Your thoughts and suggestions are invaluable to us, and we appreciate you taking the time to share your feedback. Whether you have comments, questions, or ideas for improvement, we want to hear from you.</p>
            <p>Please send email to [Contact Email] your feedback. Rest assured that all feedback is treated with the utmost confidentiality and will only be used for the purpose of improving our services.</p>
        </div>
        </div>
      </div>
    </div>
    <div class="container">
      
    </div>
  </div>
{% endblock content %}