{% extends 'partials/base.html' %}

{% load static %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4 style="color: #6879BB;">Privacy Policy</h4>
            <img src="{% static 'landing_page/assets/images/heading-line-dec.png' %}" alt="">
            <p>At EntranceQuiz, accessible from <a href="https://entrancequiz.com">EntranceQuiz.com</a>, one of our main priorities is the privacy of our visitors. This Privacy Policy document contains types of information that is collected and recorded by EntranceQuiz and how we use it. If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us through email at [contact email].</p>
            <p>By accessing or using our Site, you agree to the terms of this Privacy Policy. If you do not agree with the terms of this Privacy Policy, please do not access the Site.</p>
            <h6 style="color: #6879BB;" class="mt-5">Updates to this Privacy Policy</h6>
            <p>We may update this Privacy Policy from time to time to reflect changes in our practices or applicable laws. We will notify you of any material changes by posting the updated policy on our Site. Your continued use of the Site after any such modifications constitutes your acceptance of the updated policy.</p>
        </div>
        </div>
      </div>
    </div>
    <div class="container">
      
    </div>
  </div>
{% endblock content %}