{% extends 'partials/base.html' %}

{% load static %}

{% block title %}Privacy Policy{% endblock %}

{% block content %}
  <div id="services" class="services section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="section-heading  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.5s">
            <h4 style="color: #6879BB;">Privacy Policy</h4>
            <img src="{% static 'landing_page/assets/images/heading-line-dec.png' %}" alt="">
            <p>
              As our platform is solely funded by individual team members, we cannot guarantee its long-term sustainability without the support of our goal achievers. In the event of financial challenges, we may be unable to continue operating the platform in the long run. We will keep you informed of any developments regarding this matter in the future
            </p>
        </div>
        </div>
      </div>
    </div>
    <div class="container">
      
    </div>
  </div>
{% endblock content %}