{% extends 'user/assets/base.html' %}

{% block title %}Review Answer{% endblock %}

{% load custom_filters %}

{% block content %}
<div class="row">
  <div class="col-12">
    <div class="col-12 text-center">
      <h2 class="page-title">Quiz Review</h2>
      <p>Total Score: {{score}}</p>
    </div>
    {% for question_id, question in questions.items %}
    <div class="col-md-6 mb-4">
      <div class="card shadow">
        <div class="card-body">
          <p class="mb-2"><strong>{{ question.text }}</strong></p>
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio1_{{ forloop.counter }}" value="A" {% if user_selected_answers|get_item:question_id == 'A' %}checked{% endif %} name="customRadio_{{ question.id }}"
              class="custom-control-input">
            <label class="custom-control-label {% if user_selected_answers|get_item:question_id == 'A' and correct_answers|get_item:question_id == 'A'  %} text-success {% elif user_selected_answers|get_item:question_id == 'A' %} text-danger {% elif correct_answers|get_item:question_id == 'A' %} text-success {% endif %}" for="customRadio1_{{ forloop.counter }}">{{ question.option_a }}</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio2_{{ forloop.counter }}" value="B" {% if user_selected_answers|get_item:question_id == 'B' %}checked{% endif %} name="customRadio_{{ question.id }}"
              class="custom-control-input">
            <label class="custom-control-label {% if user_selected_answers|get_item:question_id == 'B' and correct_answers|get_item:question_id == 'B'  %} text-success {% elif user_selected_answers|get_item:question_id == 'B' %} text-danger {% elif correct_answers|get_item:question_id == 'B' %} text-success {% endif %}" for="customRadio2_{{ forloop.counter }}">{{ question.option_b }}</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio3_{{ forloop.counter }}" value="C" {% if user_selected_answers|get_item:question_id == 'C' %}checked{% endif %} name="customRadio_{{ question.id }}"
              class="custom-control-input">
            <label class="custom-control-label {% if user_selected_answers|get_item:question_id == 'C' and correct_answers|get_item:question_id == 'C'  %} text-success {% elif user_selected_answers|get_item:question_id == 'C' %} text-danger {% elif correct_answers|get_item:question_id == 'C' %} text-success {% endif %}" for="customRadio3_{{ forloop.counter }}">{{ question.option_c }}</label>
          </div>
          <div class="custom-control custom-radio">
            <input type="radio" id="customRadio4_{{ forloop.counter }}" value="D" {% if user_selected_answers|get_item:question_id == 'D' %}checked{% endif %} name="customRadio_{{ question.id }}"
              class="custom-control-input">
            <label class="custom-control-label {% if user_selected_answers|get_item:question_id == 'D' and correct_answers|get_item:question_id == 'D'  %} text-success {% elif user_selected_answers|get_item:question_id == 'D' %} text-danger {% elif correct_answers|get_item:question_id == 'D' %} text-success {% endif %}" for="customRadio4_{{ forloop.counter }}">{{ question.option_d }}</label>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}